<mat-toolbar>
    <div class="flex-container">
      <span class="toolbar-title">Controle de Municípios</span>
      <button mat-fab color="accent" routerLink="./new">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <table mat-table [dataSource]="municipios" class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let municipio"> {{municipio.idMunicipio}} </td>
      </ng-container>
    
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let municipio"> {{municipio.nome}} </td>
      </ng-container>
    
      <!-- Sigla Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let municipio"> {{municipio.nomeEstado}} </td>
      </ng-container>
  
      <!-- Acao Column -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let municipio"> 
          <button mat-icon-button 
                  color="primary"
                  [routerLink]="['edit', municipio.idMunicipio]">
                  <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button 
                  color="warn"
                  (click)="deletar(municipio.idMunicipio)">
                  <mat-icon>delete</mat-icon>
          </button>        
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
</table>

<mat-paginator 
    [pageSizeOptions]="[5, 10, 15, 20]"
    [pageSize]="size"
    [length]="totalRecords"
    (page)="paginar($event)">
</mat-paginator>
